flows (1).json
[{"id":"5e47e730.61ddd8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e9360a4b.f882d8","type":"ui_form","z":"5e47e730.61ddd8","name":"","label":"","group":"b3b54dca.3719c","order":0,"width":0,"height":0,"options":[{"label":"fare_amount","value":"fare_amount","type":"number","required":true},{"label":"tip_amount","value":"tip_amount","type":"number","required":true},{"label":"tolls_amount","value":"tolls_amount","type":"number","required":true}],"formValue":{"fare_amount":"","tip_amount":"","tolls_amount":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":66,"y":138,"wires":[["87d21c23.a76fd","136f10fc.02f46f","38f3ca40.ecd256","2b353c9b.a2a514","5b73a0c6.42db1"]]},{"id":"87d21c23.a76fd","type":"debug","z":"5e47e730.61ddd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":227,"y":50,"wires":[]},{"id":"136f10fc.02f46f","type":"function","z":"5e47e730.61ddd8","name":"token generation","func":"global.set(\"fare_amount\",msg.payload.fare_amount)\nglobal.set(\"tip_amount\",msg.payload.tip_amount)\nglobal.set(\"tolls_amount\",msg.payload.tolls_amount)\nreturn msg;","outputs":1,"noerr":0,"x":252,"y":222,"wires":[["fe9d537.993d8b"]]},{"id":"fe9d537.993d8b","type":"http request","z":"5e47e730.61ddd8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":235,"y":340,"wires":[["1708f018.056e4","8cbfe546.fcd1d8"]]},{"id":"1708f018.056e4","type":"debug","z":"5e47e730.61ddd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":425.5,"y":303,"wires":[]},{"id":"38f3ca40.ecd256","type":"ui_text","z":"5e47e730.61ddd8","group":"b3b54dca.3719c","order":1,"width":0,"height":0,"name":"","label":"fare_amount","format":"{{msg.payload.fare_amount}}","layout":"row-spread","x":349,"y":93,"wires":[]},{"id":"8cbfe546.fcd1d8","type":"function","z":"5e47e730.61ddd8","name":"prediction","func":"var token=msg.payload.token;\nvar fare_am=global.get(\"fare_amount\");\nvar tip_am=global.get(\"tip_amount\")\nvar tolls_am=global.get(\"tolls_amount\")\nmsg.payload={\"fields\":[\"fare_amount\",\"tip_amount\",\"tolls_amount\"],\"values\":[[fare_am,tip_am,tolls_am]]}\nmsg.headers={\"Authorization\":\"Bearer\"+token};\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":374,"wires":[["edb3a2b4.11fbc"]]},{"id":"edb3a2b4.11fbc","type":"http request","z":"5e47e730.61ddd8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/fc0dc937-86f0-4382-9725-2d50c35a582e/deployments/d824edb2-9bbd-438a-adec-d283380f6f22/online","tls":"","proxy":"","authType":"basic","x":617,"y":365,"wires":[["21ca9f1f.92fec","43230e45.1bcf"]]},{"id":"43230e45.1bcf","type":"function","z":"5e47e730.61ddd8","name":"op passing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":705,"y":287,"wires":[["97d8e7ea.cab6a8"]]},{"id":"21ca9f1f.92fec","type":"debug","z":"5e47e730.61ddd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":751.5,"y":472,"wires":[]},{"id":"97d8e7ea.cab6a8","type":"ui_text","z":"5e47e730.61ddd8","group":"b3b54dca.3719c","order":2,"width":0,"height":0,"name":"","label":"total_amount","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":153,"wires":[]},{"id":"2b353c9b.a2a514","type":"ui_text","z":"5e47e730.61ddd8","group":"b3b54dca.3719c","order":3,"width":0,"height":0,"name":"","label":"tip_amount","format":"{{msg.payload.tip_amount}}","layout":"row-spread","x":274,"y":142,"wires":[]},{"id":"5b73a0c6.42db1","type":"ui_text","z":"5e47e730.61ddd8","group":"b3b54dca.3719c","order":4,"width":0,"height":0,"name":"","label":"tolls_amount","format":"{{msg.payload.tolls_amount}}","layout":"row-spread","x":361,"y":184,"wires":[]},{"id":"b3b54dca.3719c","type":"ui_group","z":"","name":"prediction","tab":"7f73fd8c.02a3f4","disp":true,"width":"6","collapse":false},{"id":"7f73fd8c.02a3f4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]